# Kotlin/Java
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.kotlin_module
/build/
out/
.idea/
*.swp
*.swo
bin/

# Gradle
.gradle/
build/
.gradle-cache/
gradle-app.setting

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml

# Logs
*.log
logs/
log/
*.out

# Test Results
/test-results/
/test-output/
/reports/
/coverage/
*.tmp

# Android Debug Bridge
*.apk
adbkey*
*.keystore

# Xcode & XCUI
*.xcworkspace
*.xcuserstate
*.xcuserdatad/
DerivedData/
*.xcresult
*.app
*.ipa
*.dSYM
*.plist
*.xcconfig
*.xcsettings

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE-specific
.vscode/
*.vscode
local.properties

# CI/CD
.env
node_modules/
coverage/
*.lock
dist/
build/
.tmp/

# Reports
*.csv
*.json
*.html

# Include config.json
!config.json

# Ignore ui_dumps folder
ui_dumps/